{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content col-sm-8"
         style="padding: 10px; border-radius: 15px; border: 4px solid darkgreen; background-color: green; color: white; text-align: center">

        <h3 style="text-align: center">Remove Player</h3>
        <table class="table">
            <tr>
                <th style="text-align: center">Name</th>
                <td style="text-align: center">{{ player.name }}</td>
            </tr>
            <tr>
                <th style="text-align: center">Value</th>
                <td style="text-align: center">{{ player.value }}</td>
            </tr>
            <tr>
                <th style="text-align: center">Season Fantasy Points</th>
                <td style="text-align: center">{{ player.seasonFantasyPoints }}</td>
            </tr>
            <tr>
                <th style="text-align: center">Level</th>
                <td style="text-align: center">{{ player.level }}</td>
            </tr>
            <tr>
                <th style="text-align: center">Progress</th>
                <td style="text-align: center">{{ player.progress }}</td>
            </tr>
        </table>
        <p>If you remove this player, all levels and progress will be lost!</p>
        <p style="font-size: large">Are you sure you want to remove this player?</p>

        <form method="post">
            <a
                    href="{{ path('remove_players', {'type':type}) }}"
                    class="btn btn-success" role="button" aria-disabled="false">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Remove" name="remove_player[remove]">
        </form>
    </div>
{% endblock %}

