{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content col-sm-8"
         style="padding: 10px; border-radius: 15px; border: 4px solid darkgreen; background-color: green; color: white">
        {% for msg in app.session.flashBag.get('message') %}
            <div class="alert alert-secondary ">
                {{ msg }}
            </div>
        {% endfor %}

        <h3 style="text-align: center">Upgrade Player</h3>

        {% for player in pagination %}
            <table class="table">
                <tr>
                    <th>Name :</th>
                    <td>{{ player.name }}</td>
                </tr>
                <tr>
                    <th>Value :</th>
                    <td>{{ player.value }}</td>
                </tr>
                <tr>
                    <th>Season Fantasy Points :</th>
                    <td>{{ player.seasonFantasyPoints }}</td>
                </tr>
                <tr>
                    <th>Level :</th>
                    <td>{{ player.level }}</td>
                </tr>
                <tr>
                    <th>Progress :</th>
                    <td>{{ player.progress }}</td>
                </tr>
                <tr>
                    <th>Tokens Until Next Level :</th>
                    <td>{{ player.nextLevelValue }}</td>
                </tr>
            </table>

            <div>
                <form method="post" name="upgrade">
                    <div class="input-group mb-3">
                        <input type="number" step="0.01" class="form-control" placeholder="Add Tokens to Upgrade This Player" aria-label="Recipient's username" aria-describedby="basic-addon2" name="upgrade_player[tokens]">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit" name="upgrade_player[upgrade]">Upgrade</button>
                        </div>
                    </div>
                    <input type="hidden" value="{{ player.id }}" name="upgrade_player[id]">
                    {{ form_row(form._token) }}
                </form>
            </div>
        {% endfor %}

        <div class="navigation text-center" >
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

